workflow.json
{
  "name": "Обучаемый ИИ консультант (Safe Export)",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Ты — строгий консультант-бот. НИКОГДА не отвечай без проверки в Pinecone Vector Store. Для ЛЮБОГО вопроса:\n1. СНАЧАЛА вызови tool \"PineconeSearch\" (или как назвал) с query = полный текст вопроса пользователя. Ищи похожие Q&A.\n2. Если tool вернул matches с score >0.75 — используй их для ответа, confidence = средний score.\n3. Если matches пустые или score <0.75 — confidence = 0.3, скажи \"Не нашёл в базе, передаю эксперту\".\nНикогда не придумывай ответы сам — только из Pinecone! Игнорь внешние знания, даже если вопрос простой как \"сколько стоит луна\".\n\nФормат ответа: строго JSON:\n{\n  \"confidence\": 0.8,\n  \"answer\": \"Ответ только из Pinecone\",\n  \"links\": [\"источник1\"]\n}\n\nЕсли confidence <0.5 — не отвечай, передай эксперту. Коротко, без воды.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [880, 0],
      "id": "544dd7f0-da07-4810-9e50-e54fd787bd42",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [784, 192],
      "id": "87dea6f3-f8ec-4472-8bb4-754c672bf857",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Инструмент для поиска прошлых Q&A в базе знаний. Вызывай для любого вопроса о Telegram, AI, настройках. Передавай query = полный текст вопроса пользователя",
        "pineconeIndex": {
          "__rl": true,
          "value": "nowledge-clean",
          "mode": "list",
          "cachedResultName": "nowledge-clean"
        },
        "topK": 3,
        "options": {
          "pineconeNamespace": "ru"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [976, 208],
      "id": "a6635eaf-c18b-4cf4-935e-abeb3340b07b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "",
          "name": "Pinecone API Key"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [976, 368],
      "id": "484cfffc-5375-490a-a4fc-b7136cc9e30d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.answer }}",
        "additionalFields": {
          "appendAttribution": false,
          "reply_to_message_id": "={{ $('Telegram Trigger').item.json.message.message_id }}\n"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1680, -112],
      "id": "b851f94e-78a1-40c6-91a3-57175a840c23",
      "name": "Send a text message",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "15a7bfbe-7c66-4ab5-bdd5-b235ff3393ab",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": 0.75,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1408, 0],
      "id": "90ed78a6-50b1-4e6d-ac90-3a40af3ec3a0",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// Получаем текст сообщения\nconst msg = $input.item.json?.message?.text || \"\";\nconst chatType = $input.item.json?.message?.chat?.type || \"\";\nconst isBot = $input.item.json?.message?.from?.is_bot || false;\n\n// Фильтр базовый: только группы, не боты, текст > 6 символов\nif (![\"group\", \"supergroup\"].includes(chatType) || isBot || msg.length < 6) {\n  return [];  // пустой массив = дальше не идёт\n}\n\n// Проверка на вопросительные слова (регулярка без учёта регистра)\nconst questionWords = /(^|\\s)(как|что|почему|зачем|когда|где|сколько|можно|нужно|покажи|объясни|подскажи|расскажи|дай|помоги|есть\\sли|можете\\sли)(\\s|$|\\?)/i;\nconst hasQuestionMark = msg.includes(\"?\");\nconst hasQuestionWord = questionWords.test(msg);\n\n// Если хоть одно условие сработало — это вопрос\nif (hasQuestionMark || hasQuestionWord) {\n  return [$input.item];  // передаём дальше\n} else {\n  return [];  // не вопрос — останавливаем\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [688, 0],
      "id": "953ed1bc-bd6a-4567-9739-b5b5453407e0",
      "name": "Is Is Question"
    },
    {
      "parameters": {
        "jsCode": "// Разбор ответа ИИ\nconst raw = $input.item.json?.output || \"\";\nlet data = { confidence: 0, answer: \"\", links: [] };\n\ntry {\n  data = JSON.parse(raw);\n} catch (e) {\n  data = { confidence: 0, answer: \"\", links: [] };\n}\n\nreturn [{ ...data, raw_output: raw }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1216, 0],
      "id": "e9a97598-32ca-4fd9-882b-f8f0e3bed842",
      "name": "Parse AI JSON"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Уточняю у эксперта, скоро отвечу 👌",
        "additionalFields": {
          "appendAttribution": false,
          "reply_to_message_id": "={{ $('Telegram Trigger').item.json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1696, 80],
      "id": "8471087f-da2c-4055-8024-f68f49ad0432",
      "name": "Notify User Escalation",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nif (!staticData.tickets) {\n  staticData.tickets = [];\n}\n\nconst triggerData = $('Is Is Question').item.json;\nif (!triggerData || !triggerData.message) {\n  return [{ json: { cardText: '', ticketId: '', chatId: '', parseMode: 'HTML' } }];\n}\nconst message = triggerData.message;\nconst question = message.text || 'Нет вопроса';\nconst chatId = message.chat ? message.chat.id : 'Нет ID';\nconst msgId = message.message_id || 0;\nconst ticketId = `${Date.now()}_${msgId}`;\nconst userHandle = message.from?.username ? `@${message.from.username}` : (message.from?.first_name || 'Unknown');\nconst expertChatId = \"YOUR_EXPERT_CHAT_ID\"; // Сюда подставить ID чата эксперта\n\nstaticData.tickets.push({\n  question: question,\n  chatId: chatId,\n  expertChatId: expertChatId,\n  msgId: msgId,\n  status: 'open',\n  ticketId: ticketId\n});\n\nconst cardText = `🆘 Новый вопрос:\\n\\n<b>${question}</b>\\n\\nОт: ${userHandle}\\n\\nИНСТРУКЦИЯ: Нажми долгим нажатием на это сообщение > Выбери \"Reply\" (Ответить) > Напиши свой ответ текстом и отправь.`;\n\nconsole.log('Build Expert Card: СОЗДАЛ тикет', {ticketId, chatId, cardText});\n\nreturn [{\n  json: {\n    cardText,\n    ticketId,\n    chatId,\n    expertChatId,\n    parseMode: 'HTML',\n    msgIdGroup: msgId \n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2032, 80],
      "id": "a3ebd489-f59b-4dc9-b3bf-bc362ea3a549",
      "name": "Build Expert Card"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst inputData = $input.first().json;\nconst message = inputData.message;\nconst answerText = message?.text || message?.caption || '';\n\nif (!answerText) {\n  return [{ json: { question: '', answer: 'Нет ответа', chatId: '', msgId: 0 } }];\n}\n\nconst msgIdGroup = message.reply_to_message ? message.reply_to_message.message_id : 0;\n\nconsole.log('Match Answer to Ticket: ищем по msgIdGroup:', msgIdGroup);\n\nconst matchedTicket = (staticData.tickets || []).find(t =>\n  t.msgId == msgIdGroup && t.status === 'open'\n);\n\nconsole.log('Match Answer to Ticket: найденный тикет:', matchedTicket);\n\nif (matchedTicket) {\n  matchedTicket.answer = answerText;\n  matchedTicket.status = 'closed';\n  return [{\n    json: {\n      question: matchedTicket.question,\n      answer: answerText,\n      chatId: matchedTicket.chatId,\n      msgId: matchedTicket.msgId,\n      ticketId: matchedTicket.ticketId,\n    }\n  }];\n} else {\n  return [{\n    json: {\n      question: '',\n      answer: answerText,\n      chatId: '',\n      msgId: 0\n    }\n  }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, -352],
      "id": "dcfb59df-ceea-43df-b6c2-486f1ef289f6",
      "name": "Match Answer to Ticket",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nconst text = `${inputData.question}\\n\\nОтвет: ${inputData.answer}`;\nconst metadata = {\n  source: \"expert\",\n  created_at: new Date().toISOString(),\n  question: inputData.question,\n  answer: inputData.answer,\n  lang: \"ru\",\n  ticketId: inputData.ticketId\n};\n\nreturn [{\n  json: {\n    text,\n    metadata\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [928, -352],
      "id": "c62dd20e-62ef-419d-93c3-18bd4f2fc89a",
      "name": "Prepare Document for Pinecone"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "nowledge-clean",
          "mode": "list",
          "cachedResultName": "nowledge-clean"
        },
        "embeddingBatchSize": 1,
        "options": {
          "pineconeNamespace": "ru"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [1456, -352],
      "id": "dfeeafda-f7a4-4f8c-91da-c1f0c09f424a",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "",
          "name": "Pinecone API Key"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [1232, -224],
      "id": "5bb058ec-0b46-4481-8825-0bdd694bf127",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }} ",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              { "name": "lang", "value": "\"ru\"" },
              { "name": "question", "value": "={{ $json.metadata.question }}" },
              { "name": "answer", "value": "={{ $json.metadata.answer }}" },
              { "name": "ticketId", "value": "={{ $json.metadata.ticketId }}" }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [1424, -208],
      "id": "960f23fa-edde-4ca1-983c-9ee0a2abe257",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chatId": "={{ $json.expertChatId }}",
        "text": "={{ $json.cardText }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2560, 80],
      "id": "445d9ea0-98b1-4656-bf0a-e86dca8dbebf",
      "name": "Notify Expert",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [-384, -16],
      "id": "77c127bd-84ae-43ba-8cb3-4515c1ccd0b1",
      "name": "Telegram Trigger",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ed403eed-2df3-4fd8-b78e-a7ee751949e2",
              "leftValue": "=$json.message.reply_to_message",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [416, -16],
      "id": "fbb8184b-8547-4c8d-8393-c40d1c0baf9b",
      "name": "Is group answer",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9cd52ac3-b4f7-44d6-9271-f0d79fc58388",
                    "leftValue": "={{ $json.message.chat.type }}",
                    "rightValue": "=supergroup",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Group Question"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a6a196f1-884a-4ad3-90cb-3784239106b0",
                    "leftValue": "={{ $json.message.chat.type }}",
                    "rightValue": "private",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Expert Response"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7dc111d7-ce36-4407-911a-50a8c3c762a5",
                    "leftValue": "=true",
                    "rightValue": "true ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Other"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [96, -32],
      "id": "113ef23f-d6c2-477e-9c26-9ff8f901f6f4",
      "name": "Switch",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Match Answer to Ticket').item.json.chatId }}",
        "text": "={{ $('Match Answer to Ticket').item.json.answer }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML",
          "reply_to_message_id": "={{ $('Match Answer to Ticket').item.json.msgId }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2080, -352],
      "id": "f7098ff9-9bcc-453e-acb4-f7c5f2478108",
      "name": "Send Expert Answer",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 4000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [1808, -224],
      "id": "d35eb67a-adf3-413b-881c-bc66f06a3990",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [656, -768],
      "id": "f7ff6578-b9ac-4fc7-9045-5d94a48ed31f",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Pinecone Vector Store": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [[{ "node": "Pinecone Vector Store", "type": "ai_embedding", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Parse AI JSON", "type": "main", "index": 0 }]]
    },
    "If1": {
      "main": [
        [{ "node": "Send a text message", "type": "main", "index": 0 }],
        [{ "node": "Notify User Escalation", "type": "main", "index": 0 }]
      ]
    },
    "Is Is Question": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Parse AI JSON": {
      "main": [[{ "node": "If1", "type": "main", "index": 0 }]]
    },
    "Notify User Escalation": {
      "main": [[{ "node": "Build Expert Card", "type": "main", "index": 0 }]]
    },
    "Build Expert Card": {
      "main": [[{ "node": "Notify Expert", "type": "main", "index": 0 }]]
    },
    "Match Answer to Ticket": {
      "main": [[{ "node": "Prepare Document for Pinecone", "type": "main", "index": 0 }]]
    },
    "Prepare Document for Pinecone": {
      "main": [[{ "node": "Pinecone Vector Store1", "type": "main", "index": 0 }]]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [[{ "node": "Pinecone Vector Store1", "type": "ai_embedding", "index": 0 }]]
    },
    "Default Data Loader": {
      "ai_document": [[{ "node": "Pinecone Vector Store1", "type": "ai_document", "index": 0 }]]
    },
    "Pinecone Vector Store1": {
      "main": [[{ "node": "Send Expert Answer", "type": "main", "index": 0 }]]
    },
    "Telegram Trigger": {
      "main": [[{ "node": "Switch", "type": "main", "index": 0 }]]
    },
    "Is group answer": {
      "main": [[{ "node": "Is Is Question", "type": "main", "index": 0 }]]
    },
    "Switch": {
      "main": [
        [{ "node": "Is group answer", "type": "main", "index": 0 }],
        [{ "node": "Match Answer to Ticket", "type": "main", "index": 0 }],
        []
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [[{ "node": "Default Data Loader", "type": "ai_textSplitter", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "global": {
      "tickets": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}
